<h1>Listing vote_options</h1>

<table>
  <tr>
    <th>Vote</th>
    <th>Outfit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_options.each do |vote_option| %>
  <tr>
    <td><%= vote_option.vote_id %></td>
    <td><%= vote_option.outfit_id %></td>
    <td><%= link_to 'Show', vote_option %></td>
    <td><%= link_to 'Edit', edit_vote_option_path(vote_option) %></td>
    <td><%= link_to 'Destroy', vote_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote option', new_vote_option_path %>
